%p#notice= notice

%p
  %b Title:
  = @course.title
%p
  %b Description:
  = @course.description

%p
  %b 関連ラベル
  - @course.labels.each do |label|
    %p
      = link_to label.title, label
      |

= link_to 'Edit', edit_course_path(@course)
\|
= link_to 'Back', courses_path
