%h1 Listing labels

%table
  %thead
    %tr
      %th Title
      %th Description
      %th
      %th
      %th

  %tbody
    - @labels.each do |label|
      %tr
        %td= label.title
        %td= label.description
        %td= link_to 'Show', label
        %td= link_to 'Edit', edit_label_path(label)
        %td= link_to 'Destroy', label, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Label', new_label_path
